:root {
	--font-body: neue-haas-unica, sans-serif;
	--color-text: #757575;
  --color-primary: #52527a;
  --color-secondary: #ff99c8;
  --color-borders: #ff99c8;
  --color-borders-light: #bfbdff;
  --margin-x-small: 1rem;
  --margin-small: 1.5rem;
  --margin-medium: 2rem;
  --margin-large: 2.5rem;
  --margin-x-large: 3rem;
  --height-x-small: 20px;
  --height-small: 40px;
  --height-medium: 70px;
  --height-large: 100px;
  --height-x-large: 140px;
	--max-width-tiny:	8rem;
	--max-width-xxsmall: 16rem;
	--max-width-xsmall: 24rem;
	--max-width-small: 32rem;
	--max-width-medium: 40rem;
	--max-width-large: 48rem;
	--max-width-xlarge: 64rem;
	--max-width-xxlarge: 80rem;
	--max-width-huge: 96rem;
	--max-width-xhuge: 112rem;
	--max-width-xxhuge: 128rem;
	--max-width-full: 100%;
	font-family: var(--font-body);
	color: var(--color-text);
  view-transition-name: none;
}

/* init */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

header,
nav,
section,
article,
aside,
footer {
	display: block;
}

body {
	background: #fcf6bd7a;
	text-align: center;
	font-size: 1rem;
	line-height: 1.6;
	letter-spacing: 0.5px;
	margin: 0;
	padding: 0;
  width: 100%;
	overflow-x: hidden;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* structure */

main {
	padding-bottom: 4rem;
	min-height: 100vh;
}

main.bare {
	padding: 0;
}

/* containers */

.container {
	width: 100%;
	margin: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	text-align: left;
  position: relative;
}

/* widths */

.width-tiny {
	max-width: var(--max-width-tiny);
}

.width-xxsmall {
	max-width: var(--max-width-xxsmall);
}

.width-xsmall {
	max-width: var(--max-width-xsmall);
}

.width-small {
	max-width: var(--max-width-small);
}

.width-medium {
	max-width: var(--max-width-medium);
}

.width-large {
	max-width: var(--max-width-large);
}

.width-xlarge {
	max-width: var(--max-width-xlarge);
}

.width-xxlarge {
	max-width: var(--max-width-xxlarge);
}

.width-huge {
	max-width: var(--max-width-huge);
}

.width-xhuge {
	max-width: var(--max-width-xhuge);
}

.width-xxhuge {
	max-width: var(--max-width-xxhuge);
}

.width-full {
	max-width: var(--max-width-full);
}

/* margin */

.margin-top-none {
  margin-top: 0px;
}

.margin-top-x-small {
  margin-top: var(--margin-x-small);
}

.margin-top-small {
  margin-top: var(--margin-small);
}

.margin-top-medium {
  margin-top: var(--margin-medium);
}

.margin-top-large {
  margin-top: var(--margin-large);
}

.margin-top-x-large {
  margin-top: var(--margin-x-large);
}

.margin-bottom-none {
  margin-bottom: 0px;
}

.margin-bottom-x-small {
  margin-bottom: var(--margin-x-small);
}

.margin-bottom-small {
  margin-bottom: var(--margin-small);
}

.margin-bottom-medium {
  margin-bottom: var(--margin-medium);
}

.margin-bottom-large {
  margin-bottom: var(--margin-large);
}

.margin-bottom-x-large {
  margin-bottom: var(--margin-x-large);
}

/* headings and general tags */

h1, h2, h3, h4, h5, h6 {
	font-family: neue-haas-grotesk-display, sans-serif;
	font-weight: 600;
  line-height: 1.1;
  color: #000;
  padding: 0;
}

h1 {
	font-size: 3rem;
	color: #fff;
}

h2 {
	margin: 32px 0 24px 0;
	font-size: 2rem;
}

h3 {
	margin: 32px 0 1rem 0;
	font-size: 1.75rem;
}

h4 {
	margin: 1.5rem 0 1rem 0;
	font-size: 1.5rem;
}

h5 {
	margin: 0 0 1rem 0;
	font-size: 1.25rem;
	line-height: 1.2;
}

h6 {
	margin: 0 0 1rem 0;
	font-weight: 900;
	font-size: 1.125rem;
	line-height: 1.2;
}

.black {
	color: #000;
}

.yellow {
	color: #dec65b;
}

.bold {
	font-weight: 600;
	color: #212121;
}

p {
	margin: 0 0 1rem 0;
	padding: 0;
}

p:last-child {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

figure {
  margin: 0 0 024px 0;
}

.note {
  border: solid 2px #d4d4de;
	border-radius: .5rem;
  padding: 1rem;
  background: #00968829;
  max-width: 720px;
}

.note.error {
  border: solid 1px #f00;
  background: rgb(255, 235, 235);
}

.note.margin {
  margin-bottom: 2rem;
}

.sheet {
	background-color: #ffffffeb;
	border-radius: .5rem;
	position: relative;
	box-shadow: 0 0 24px #01002429;
	padding: 2rem;
	min-height: 400px;
}

.nav-columns {
	display: grid;
	grid-column-gap: 4rem;
  grid-row-gap: 2rem;
  grid-template-columns: .25fr 1fr;
  place-items: start stretch;
}

.nav-columns > nav {
	min-width: 240px;
}

/* lists */

ul {
	margin: 0 0 1rem 0;
	padding: 0;
	list-style: none;
	background: none;
}

ul li {
	margin: 0 0 0.5rem 0;
	padding: 0 0 0 1rem;
	list-style: none;
	position: relative;
}

ul li:last-child {
	margin-bottom: 0;
}

ul:last-child {
	margin-bottom: 0;
}

ul li:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 3px;
	background: #757575;
	width: 6px;
	height: 6px;
	border-radius: 50%;
}

ol {
	margin: 0 0 25px 25px;
	padding: 0;
}

ol ul,
ul ul {
	margin-top: 10px;
}

/* links */

a {
	text-decoration: underline;
	text-underline-position: under;
	outline: none;
	cursor: pointer;
	color: #52527a;
}

a, button {
	transition: background-color 400ms ease, color 400ms ease; 
}

a:hover, button:hover {
  opacity: 1;
	color: #009688;
}

a.back {
  background: url(/images/icon-arrow-left.png) no-repeat;
  background-size: 20px;
  padding-left: 28px;
  text-decoration: none;
}

a.external {
  background: url(/images/open-in-new.svg) no-repeat;
  background-size: 24px;
  padding-left: 28px;
  text-decoration: underline;
}

a.download {
  background: url(/images/cloud-download-outline.svg) 0px 2px no-repeat;
  background-size: 24px;
  padding-left: 30px;
  text-decoration: underline;
}

.link-boxes {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.link-boxes a {
  background-color: #0096883d;
    border-radius: .5rem;
    padding: 1rem 1.5rem;
}

/* tables */
.table {
	margin-bottom: 1rem;
	overflow: auto;
}

.table .row {
	display: flex;
	background-color: #00968829;
	border-radius: 0.5rem;
	margin-bottom: 0.25rem;
}

.table .row.heading {
	background: #00968852;
	font-weight: 600;
}

.table .cell {
  padding: 1rem;
  min-height: 2rem;
}

.table .heading .cell {
	color: #000;
}

.table.vertical-centered .row {
	align-items: center;
}

.cell.width-grow {
	flex: 1;
}

.cell.width-small {
	width: 4rem;
	min-width: 4rem;
}

.cell.width-medium {
	width: 8rem;
	min-width: 8rem;
}

.cell.width-large {
	width: 10rem;
	min-width: 10rem;
}

.cell.width-xlarge {
	width: 12rem;
	min-width: 12rem;
}

.cell.width-xxlarge {
	width: 14rem;
	min-width: 14rem;
}

.cell.width-huge {
	width: 20rem;
	min-width: 20rem;
}

.cell.right {
	display: flex;
	justify-content: flex-end;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  color: #000;
	background: #0096887a;
  font-weight: 600;
  padding: 1rem;
  white-space: nowrap;
  min-height: 2rem;
	border-bottom: solid 0.25rem #ffffff;
}

th:first-child {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

th:last-child {
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

th.checkbox {
  width: 4rem;
}

td {
  background-color: #4496000d;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  min-height: 2rem;
	border-bottom: solid 0.25rem #ffffff;
}

td:first-child {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

td:last-child {
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

td.bare {
	background: none;
}

td.no-wrap {
  white-space: nowrap;
}

td.no-border {
  border: none;
}

tr:hover td {
	background-color: #fcf6bd;
}

tr:hover td.bare {
	background: none;
}

table.admin {
  width: 100%;
}

.table-wrap {
  position: relative;
	overflow: hidden;
}

.table-wrap.margin-top {
  margin-top: 40px;
}

.table-wrap a {
  text-decoration: none;
}

/* misc */

.row-heading {
	background-color: #00968852;
	color: #000;
	font-weight: 600;
	font-size: 1.125rem;
	border-radius: .5rem;
	margin-bottom: .5rem;
	padding: 1rem 1.5rem;
}

.row-item {
	grid-gap: 1rem;
	background-color: #00968829;
	border-radius: .5rem;
	padding: 1rem 1.5rem;
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
	position: relative;
}

.capitalize {
  text-transform: capitalize;
}

.masked {
  opacity: 0.2;
}

.loading-mask {
  position: absolute;
  top: 50px;
  left: 45%;
}

.edit-button {
	margin-bottom: 1.5rem;
	display: flex;
	grid-gap: 0.5rem;
}

.actions {
	display: flex;
	grid-column-gap: 0.5rem;
}

.edit-link {
	min-width: 100px;
}

.table-wrap {
	overflow: auto;
}

.admin .column-main {
	overflow: auto;
}


@media screen and (max-width: 767px) {
	.container {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.nav-columns {
		display: block;
	}

	.nav-columns > nav {
		margin-bottom: 2rem;
	}
}

@media screen and (max-width: 480px) {
	.container {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.sheet {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}